<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let item of currentItems; let i = index">
      <ion-avatar>
        <ion-icon name="add"></ion-icon>
      </ion-avatar>

      <button ion-item (click)="openItem(item)">
        <h2>Honey pot {{i + 1}}</h2>
        <p>{{item.ipAddress}}:{{item.connectionPort}}</p>

        <ion-note item-end>

            { status = getStatus(item) }
            
          <div *ngIf="!item.status">
            <ion-icon name="alert" color="danger">
              Алёёёёёрт
            </ion-icon>
          </div>

          <div *ngIf="!item.status">
            <ion-icon name="checkmark-circle" color="secondary">
              Оки доки
            </ion-icon>
          </div>

        </ion-note>

      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>

      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
